# Backend
MONGODB_URI=mongodb://usuario:password@host:27017/cleancare?ssl=true&replicaSet=atlas-cnarts-shard-0&authSource=admin
JWT_SECRET=
PORT=3000

# App (Expo)
EXPO_PUBLIC_API_URL=https://api.cleancare.uy
